@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.link {color: $gray !important;}

h1 {
  font-weight: bold !important;
  color: black;
}

.title-image{
  padding-bottom: 0px !important;
}
.message {
  color: $gray !important;
  padd
}
.main {
  background-color: $main-bg;
  font-size: 20pt !important;
  a {
    color: #5c5fb0;
    font-weight: bold;
  }
}

.message__anotation {
  line-height: 1.5;
}
.message__questions {
  font-size: 14px;
  line-height: 1.8;
}

.button {
  text-transform: uppercase !important;
  font-size: 10px !important;
  letter-spacing: 2px;
}

.connection{
  font-size: 13px;
  line-height: 1.8;
}

.copyright{
  color: $si-color !important;
  font-size: 12px !important;
}